# Supabase (Auth + opcionalmente dados no mesmo projeto)
PUBLIC_SUPABASE_URL=https://siutrwucljacdkkqyxnp.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpdXRyd3VjbGphY2Rra3F5eG5wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MzEzNjgsImV4cCI6MjA5MDIwNzM2OH0.JwXLwVIzUgPZXLVzr5_51CYjuAMzHWnhPwZiII-2LIo
