---
import { AuthenticateWithRedirectCallback } from "@clerk/astro/components";
---

<html lang="pt-BR">
  <head>
    <title>Autenticando...</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <AuthenticateWithRedirectCallback />
  </body>
</html>
